<!DOCTYPE html>
<html>
<head>
<title>[ About ]</title>
<link rel=stylesheet href=style.css>
</head>
<body>
  <iframe src="nav.html" sandbox="allow-top-navigation allow-same-origin"></iframe>
  <p><br><img src="images/banner.png"><br><br></p><br><br>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->

<p><h1><font color=008000 size=10>[</font>
  About
  <font color=008000 size=10>]</font></h1>
<blockquote>
  <span class="right"><img src="images/netsvs_logo.png" width=127 height=108 alt="NetSVS"></img>
  </span>
  In case you've missed the sitewide self promotion I'm calling a
  banner, my name is Julien Kuzniarek and I'm currently an Integration Engineer.
  I work at <font color=008000>[</font> <a href="http://www.usf.edu">Net Synergy
  Virtual Solutions</a> <font color=008000>]</font> in Tampa, FL where I
  develop data warehousing robots. <br><br>
  I am a recent graduate of the University of South Florida where I received a
  Bachelor of Science in Information Studies. <br><br>
  Though I have a number of interests including data structures, cellular
  automata, artificial sentience, politics, and even history; I always seek to
  optimize whatever it is that I'm focused on.
  <br><br>
  I wrote this site in HTML and CSS exclusively and specifically built it
  without the use of a WYSIWYG editor. Its purpose is to serve as a digital
  portfolio introducing myself and my work, as well as a platform for sharing
  my explorations and experiments.<br>
  <h3><font color=008000 size=6>[</font>
  Contact Me:
  <font color=008000 size=6>]</font></h3>
  Check out my
  <font color=008000>[ </font>
  <a href="resume.pdf">Resume</a>
  <font color=008000> ] </font>
  for my contact information.
  <br><br>
</blockquote></p>


<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
<iframe src="nav.html" sandbox="allow-top-navigation allow-same-origin"></iframe>
</body>
</html>
