<!DOCTYPE html>
<html>
<head>
<title>[ Julien Kuzniarek ]</title>
<link rel=stylesheet href=style.css>
</head>
<body>
  <iframe src="nav.html" sandbox="allow-top-navigation allow-same-origin"></iframe>
    <p><br><img src="images/banner.png"><br><br></p><br><br>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->
<p><h1><font color=008000 size=10>[</font>
  <a href="archive/uselectoraltracker.html">2016|06|07, US Electoral Tracker</a> <!--Title Here-->
  <font color=008000 size=10>]</font></h1>
<blockquote>
  This is an R package that tracks the votes in US Presidential elections from
  1828-2012. Its creation was the culmination of my Introduction to R
  Programming course.<br>
  <font color=008000>[</font>
  <a href="archive/uselectoraltracker.html">More</a> <!--Link to Page-->
  <font color=008000>]</font>
  <br><br>
</blockquote></p>

<p><h1><font color=008000 size=10>[</font>
  <a href="archive/virtual_machine_security.html">2016|01|29, Virtual Machine Security</a> <!--Title Here-->
  <font color=008000 size=10>]</font></h1>
<blockquote>
  My Health Information Security course culminated with a self directed research project on
  a topic of my choosing. Knowing their growing role in general, I chose to
  research the security of virtual machines.<br>
  <font color=008000>[</font>
  <a href="archive/virtual_machine_security.html">More</a> <!--Link to Page-->
  <font color=008000>]</font>
  <br><br>
</blockquote></p>

<p><h1><font color=008000 size=10>[</font>
  <a href="archive/ca_ribbon_project.html">2015|11|27, CA Ribbon Project</a> <!--Title Here-->
  <font color=008000 size=10>]</font></h1>
<blockquote>
  I was eager to write my own program for generating a cellular automaton by
  the time that I learned imperative programming, having enthusiastically read
  Stephen Wolfram's <i>A New Kind Of Science</i> in High School. In the middle of
  the semester, and before I had even learned the basics of classes and objects
  within the COP 2931 Programming I course using C++, I initiated my own
  private project to create that program.<br>
  <font color=008000>[</font>
  <a href="archive/ca_ribbon_project.html">More</a> <!--Link to Page-->
  <font color=008000>]</font>
  <br><br>
</blockquote></p>

<blockquote><h2>See the
<font color=008000>[</font>
<a href="archive.html">Archive</a> <!--Link to Page-->
<font color=008000>]</font>
for more.</h2></blockquote>
<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
<iframe src="nav.html" sandbox="allow-top-navigation allow-same-origin"></iframe>
</body>
</html>
