<style>
@font-face {
	font-family: Main;
	src:url(resources/Candara.ttf);
}
body {
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center 4em;
	font-family: Garamond, Main, Book Antiqua, Helvetica;
	background-attachment: fixed;
}
nav {
	background-color: #000000;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	outline-color: #000000;
	outline-style: solid;
	outline-width: .5em;
	min-width: 50em;
	padding-left: 10%;
	padding-right:10%;
	color: #ffffff;
}
nav ul {
	margin: 0%;
	padding: 0;
	text-align: center;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
}
nav > ul > li > a {
	display: block;
	line-height: 2em;
	padding: 0em 1em;
	text-decoration: none;
}
nav > ul > li > a:hover{
	color: #008000;
	background-color: #000000;
	display: block;
	line-height: 2em;
	padding: 0em 2em;
	text-decoration: none;
  font-weight: bolder;
}
a {
	color:inherit;
	text-decoration: none;
}
a:hover {
	color: #008000;
	text-decoration: none;
}
.green {
	color: #008000;
}
</style>
<nav>
  <ul>
  <li><a href="index.html" target="_top"><span class="green">[</span> jkuzniarek.me <span
    class="green">]</span></a></li>
  <li><a href="about.html" target="_top"><span class="green">[</span> About <span
    class="green">]</span></a></li>
  <li><a href="resume.html" target="_top"><span class="green">[</span> Resume <span
    class="green">]</span></a></li>
  <li><a href="curriculum.html" target="_top"><span class="green">[</span> Curriculum <span
    class="green">]</span></a></li>
  <li><a href="archive.html" target="_top"><span class="green">[</span> Archive <span
    class="green">]</span></a></li>
	<li><a href="http://github.com/jkuzniarek" target="_top"><span class="green">[</span> GitHub <span
    class="green">]</span></a></li>
	</ul>
</nav>
