<!DOCTYPE html>
<html>
<head>
<title>[ Resume ]</title>
<link rel=stylesheet href=style.css>
</head>
<body>
  <iframe src="nav.html" sandbox="allow-top-navigation allow-same-origin"></iframe>
    <p><br><img src="images/banner.png"><br><br></p><br><br>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->

<p><h1><font color=008000 size=10>[ </font>Resume
  <font color=008000 size=10> ]</font></h1>
<blockquote>
  <table>
    <tr>
      <td> </td>
      <td> </td>
      <td>
        <span class="green">[</span><a href="resume.pdf">PDF</a><span class="green">]</span></td>
    </tr>

    <tr>
      <td><span class="green"><b>Objective</b></span></td>
      <td>I am seeking an opportunity to develop and implement innovative
        solutions while continuing to expand my programming knowledge and experience</td>
</tr>

<tr>
  <td><span class="green"><b>Technology<br>Summary</b></span></td>
  <td>Object Oriented programming with Python, Java, Swift, JavaScript, PHP, C++, R
    <br>
    Experienced with Regular Expressions, SQL, HTML5, CSS, Agile, JIRA, Confluence, GitHub, MS Office Suite
    <br>
    Kofax Kapow 9.4 Certification
</td>
</tr>

<tr>
  <td><span class="green"><b>Education</b></span></td>
  <td><b>University of South Florida</b></td>
  <td><span class="green"><b>2012 - 2016</b></span></td>
</tr>
<tr>
  <td> </td>
  <td>Bachelor of Science in Information Studies. 3.0 GPA</td>
</tr>
<tr>
  <td> </td>
  <td><b>Projects Completed:</b></td>
</tr>
<tr>
<td> </td>
<td>
  <table>
<tr>
  <td><span class="green">[ </span><a href="archive/uselectoraltracker.html">R package</a>
    <span class="green"> ]</span> that visualizes the voting data for all the presidential elections since 1828.</td>
</tr>
<tr>
  <td>Experiment investigating the viability of artificially generating a Zipf distribution.</td>
</tr>
<tr>
  <td>Guide to creating and iterating a one-dimensional cellular automaton.</td>
</tr>
<tr>
  <td>Access database of patients and patient visits to doctor’s office with SQL queries.</td>
</tr>
<tr>
  <td><span class="green">[ </span><a href="archive/virtual_machine_security.html">Presentation</a>
    <span class="green"> ]</span> on the security and privacy risks associated with using virtual machines.</td>
</tr>
<tr>
  <td><span class="green">[ </span><a href="archive/stormchaser_project.html">Java program</a>
    <span class="green"> ]</span> that identifies the ten strongest storms in a NOAA hurricane data file.</td>
</tr>
<tr>
  <td><span class="green">[ </span><a href="archive/tax_accountant_project.html">Java program</a>
    <span class="green"> ]</span> that calculates taxpayers’ tax refunds using their tax information.</td>
</tr>
</table>
</td>
</tr>

<tr>
  <td><span class="green"><b>Work<br>Experience</b></span></td>
  <td><b>Integration Engineer at NetSynergy Virtual Solutions</b></td>
  <td><span class="green"><b>2016 - Present</b></span></td>
</tr>
<tr>
  <td> </td>
  <td>Developed web-scraping robots using a mixture of Regular Expressions, the
    Kofax Kapow software, SQL, and JavaScript. Developed, tested, documented,
    and tracked projects as part of an Agile team using a combination of JIRA,
    Confluence, GitHub, and the MS Office Suite. Company documentation expert.
    Designed and adapted ETL projects (data warehousing) from conception up
    through development. Designed, setup, and administered company knowledge
    base in Confluence. Relational and nonrelational data modeling, and
    relational database design for SQL. </td>
</tr>
<tr>
  <td> </td>
  <td><b>Supervisor at Busch Gardens Tampa</b></td>
  <td><span class="green"><b>2013 - 2016</b></span></td>
</tr>
<tr>
  <td> </td>
  <td>Supervised admissions screeners and turnstiles employees including their
    breaks, attendance, training, audits, and moral. Troubleshooting and resolved
    guest ticket problems utilizing ticket database and associated database
    interface application. Maintained smooth daily operations of turnstiles while
    maximizing the flow of guests entering the park. Performed duties
    associated with opening and closing the park to guests such as daily
    testing of turnstile systems, ensuring area cleanliness, and updating
    various statistical data on guests. Attend to unexpected guest employee,
    and daily operational issues.</td>
</tr>
<tr>
  <td> </td>
  <td><b>Host at Busch Gardens Tampa</b></td>
  <td><span class="green"><b>2013</b></span></td>
</tr>
<tr>
  <td> </td>
  <td>Operated rides, assisted guests, bused tables, maintained park
    cleanliness, and trained new employees. Received recognition for
    exceptional customer service.</td>
</tr>
<tr>
  <td> </td>
  <td><b>Personal Assistant at Heart Specialists of Sarasota</b></td>
  <td><span class="green"><b>2011 - 2012</b></span></td>
</tr>
<tr>
  <td> </td>
  <td>Interviewed patients, entered patient data and ran miscellaneous errands.</td>
</tr>


<tr>
  <td><span class="green"><b>Affiliations</b></span></td>
  <td><b>ASIS&T</b></td>
  <td><span class="green"><b>2015 - Present</b></span></td>
</tr>
<tr>
  <td> </td>
  <td>Member of the Association for Information Science and Technology.</td>
</tr>
<tr>
  <td> </td>
  <td><b>Boy Scouts of America</b></td>
  <td><span class="green"><b>2005 - 2010</b></span></td>
</tr>
<tr>
  <td> </td>
  <td>Achieved Life Scout Rank.</td>
</tr>
</table><br><br>
</blockquote></p>

<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
<iframe src="nav.html" sandbox="allow-top-navigation allow-same-origin"></iframe>
</body>
</html>
