html,
body {
	background-color: #ffffff;
	/* background svg image generated thanks to http://www.heropatterns.com */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23dddddd' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment:  fixed;
	height: 100%;
	font-family: Garamond, Book Antiqua, Helvetica;
	font-size: 1em;
	text-align: center;
}
#container {
	min-height: 100%;
	position: relative;
}
#copyright {
	padding-bottom: 3em;
	padding-top: 2em;
}
nav {
	background-color: #000000;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	outline-color: #000000;
	outline-style: solid;
	outline-width: .5em;
	text-align: center;
	color: #ffffff;
	font-size: 120%
}
nav ul {
	margin: 0%;
	padding: 0;
	position: fixed;
	top: 0;
}
nav ul li {
	display:  inline-block;
	list-style-type: none;
}
nav > ul > li > a {
	display: block;
	line-height: 2em;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #ffffff
}
nav > ul > li > a:hover{
	color: #008000;
	background-color: #000000;
	display: block;
	line-height: 2em;
	padding: 0.5em 2em;
	text-decoration: none;
}
a:hover {
	color: inherit;
	text-decoration: underline;
}
a {
	color: #008000;
	text-decoration: none;
}
.green {
	color: #008000;
}
.shadow {
	text-shadow: -14px 18px 8px rgba(150, 150, 150, 0.47);
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
}
h1 {
	border-bottom: thin #008000;
	border-bottom-style: solid;
}
/* Unused leftovers from previous stylesheet */
figure {
	outline-color: #008000;
	outline-style: dashed;
	outline-width: thin;
	outline-offset: 1em;
}
.right {
	float: right;
	margin-left: 30px;
}
.center {
	float:none;
}
