html,
body {
	/* background svg image generated thanks to http://www.heropatterns.com */
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23dddddd' fill-opacity='0.29' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-attachment:  fixed;
 	height: 100%;
 	font-family: Garamond, Book Antiqua, Helvetica;
 	font-size: 1em;
 	text-align: center;
}
#container {
	min-height: 100%;
	position: relative;
}
#copyright {
	padding-bottom: 1em;
	padding-top: 1em;
}
#banner {
	margin-top: 5em;
}
nav {
	background-color: #000000;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	outline-color: #000000;
	outline-style: solid;
	outline-width: .5em;
	text-align: center;
	color: #ffffff;
	font-size: 120%;
	position: fixed;
	top: 0;
	width: 100%;
}
nav ul {
	margin: 0%;
	padding: 0;
}
nav ul li {
	display:  inline-block;
	list-style-type: none;
}
nav > ul > li > a {
	display: block;
	line-height: 2em;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #ffffff
}
nav > ul > li > a:hover{
	color: #008000;
	background-color: #000000;
	display: block;
	line-height: 2em;
	padding: 0.5em 2em;
	text-decoration: none;
}
a:hover {
	color: inherit;
	text-decoration: underline;
}
a {
	color: #008000;
	text-decoration: none;
}
.green {
	color: #008000;
}
.shadow {
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 1em;
}
h1 {
	border-bottom: thin #008000;
	border-bottom-style: solid;
}
/* Unused leftovers from previous stylesheet */
figure {
	outline-color: #008000;
	outline-style: dashed;
	outline-width: thin;
	outline-offset: 1em;
}
.right {
	float: right;
	margin-left: 30px;
}
.center {
	float:none;
}
