<!DOCTYPE html>
<html>
<head>
<title>[ Create Post ]</title>
<link rel=stylesheet href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
  <div id=container>
  <nav>
    <ul>
      {% for url in navbar %}
      <li><a href="{{ url }}"><span class="green">[</span> {{ navbar[url] }} <span
         class="green">]</span></a></li>
      {% endfor %}
    </ul>
  </nav>
  <br>
    <div class=shadow id=banner><br><img src="{{ url_for("static", filename="banner.png") }}"><br><br></div>
    <div class=shadow><br>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->


  <h1 class="green">Create your post below</h1>
<br>
<p>
  Remember, the post body is not the entire html but rather starts with the
  h1 heading and extends to the end of the text. It will be placed over a single
  semitransparent pane similar to the input boxs or this page.
</p>
<p style="text-align: left;">
  <form method="POST">
    <input type="text" name="data_dateID" placeholder="DateID">
    <br>
    <input type="text" name="data_title" placeholder="Title">
    <br>
    <input type="text" name="data_desc" placeholder="Description">
    <br>
    <textarea style="height: 50em; width: 80%;" name="data_content" placeholder="Your post's HTML body"></textarea>
    <br>
    <input type="submit" value="Create Post">
  </form>
</p>

<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
</div>
<div id=copyright class=shadow> Copyright Julien Kuzniarek </div>
</div>
</body>
</html>
