<!DOCTYPE html>
<html>
<head>
<title>[ Error ]</title>
<link rel=stylesheet href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
  <div id=container>
  <nav>
    <ul>
      {% for url in navbar %}
      <li><a href="{{ url }}"><span class="green">[</span> {{ navbar[url] }} <span
         class="green">]</span></a></li>
      {% endfor %}
    </ul>
  </nav>
  <br>
    <div class=shadow id=banner><br><img src="{{ url_for("static", filename="banner.png") }}"><br><br></div>
    <div class=shadow><br>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->


  <h1 class="green">An Error Occurred</h1>
<br>
<p>
  <em>Details:</em> <br>
  {{ error_message }}
</p>

<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
<br></div>
<div id=copyright class=shadow> Copyright Julien Kuzniarek </div>
</div>
</body>
</html>
