<!DOCTYPE html>
<html>
<head>
<title>jkuzniarek.me</title>
<link rel=stylesheet href="{{ url_for("static", filename="style.css") }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id=container>
  <nav>
    <ul>
      {% for url in navbar %}
      <li><a href="{{ url }}" id="{{ navbar[url][1] }}"><span id="{{ navbar[url][1] }}-text"><span class="green">[</span> {{ navbar[url][0] }} <span
         class="green">]</span></span></a></li>
      {% endfor %}
    </ul>
  </nav>
  <br>
    <div class=shadow id=banner><br><img src="{{ url_for("static", filename="banner.png") }}"><br><br></div>
    <div class=shadow><!--<br>-!>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->

  <h3 style="margin-top: 0%; margin-bottom: 0%;">LATEST:
    <span class="green"> [</span>
    <a href="post/{{post["dateID"]}}">
      {{post["dateID"] + ", " + post["title"]}}
    </a>
    <span class="green">]</span>
  </h3>
  {{post["desc"]}}

  </div>

  <div class=shadow>
  <h1 class="green">About</h1>
  <p>
    In case you've missed the sitewide self promotion I'm calling a
    banner my name is Julien Kuzniarek and I'm a Web Developer in
    Tampa, FL. I graduated from the University of South Florida with
    a <b>Bachelor of Science</b> in Information Science, which kickstarted
    my interest in programming and web development.
</p>
<p>
  I built this site to serve as a personal digital billboard introducing myself and
  my work, as well as a blog of sorts. This site is dynamically served off
  <a href="http://www.pythonanywhere.com">pythonanywhere.com</a>
  with a significant portion of the content stored in and retrieved from a SQL
  database. The primary desired externalities of converting my previous static
  website to this one were to simplify the publishing process for myself, to provide myself
  with knowledge and experience in web development using more than just HTML/CSS,
  to get hands on the Flask framework, and to demonstrate my familiarity with
  <b>jQuery</b>, <b>SQL</b>, and <b>Python</b> (my preferred language).
</p>
<p>
  My personal interests include, organizational structures, cellular automata, artificial sentience,
  social design, urban planning and development, mass transit, and even history.
  These interests are each tied together and rooted in my love for <b>systems
  analysis and design</b> combined with my propensity to examine both the impact of the
  perspectives people hold on their actions and decisions, and the
  cascading effects that can occur from small changes to a system.
</p>
  <h3 class=green>Contact Me:</h3>
  My contact information is available on my Resume or LinkedIn:<br>
  <a href="{{ url_for('static', filename='resume.pdf') }}"><i id="contact-resume" alt="Resume"></i></a>
  <a href="http://www.linkedin.com/in/jkuzniarek"><i id="contact-linkedin" alt="http://www.linkedin.com/in/jkuzniarek"></i></a>

<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
</div>
<div id=copyright class=shadow>
  <hr>
  Copyright Julien Kuzniarek
  <hr>
</div>
</div>
</body>
<script>
$("#nav-resume").hover(function(){
  $("#nav-resume-text").attr("hidden", "hidden");
  $("#nav-resume").attr("class", "fa fa-file-pdf-o");
}, function(){
  $("#nav-resume").removeAttr("class");
  $("#nav-resume-text").removeAttr("hidden");
});
$("#nav-archive").hover(function(){
  $("#nav-archive-text").attr("hidden", "hidden");
  $("#nav-archive").attr("class", "fa fa-database");
}, function(){
  $("#nav-archive").removeAttr("class");
  $("#nav-archive-text").removeAttr("hidden");
});
$("#nav-curriculum").hover(function(){
  $("#nav-curriculum-text").attr("hidden", "hidden");
  $("#nav-curriculum").attr("class", "fa fa-book");
}, function(){
  $("#nav-curriculum").removeAttr("class");
  $("#nav-curriculum-text").removeAttr("hidden");
});
$("#nav-github").hover(function(){
  $("#nav-github-text").attr("hidden", "hidden");
  $("#nav-github").attr("class", "fa fa-github");
}, function(){
  $("#nav-github").removeAttr("class");
  $("#nav-github-text").removeAttr("hidden");
});
</script>
</html>
