<!DOCTYPE html>
<html>
<head>
<title>[ {{ post["dateID"] + " " + post["title"] }} ]</title>
<link rel=stylesheet href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
  <div id=container>
  <nav>
    <ul>
      {% for url in navbar %}
      <li><a href="{{ url }}"><span class="green">[</span> {{ navbar[url] }} <span
         class="green">]</span></a></li>
      {% endfor %}
    </ul>
  </nav>
  <br>
    <div class=shadow><br><img src="{{ url_for("static", filename="banner.png") }}"><br><br></div>
    <div class=shadow><br>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->

{{ post["content"] }}

<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
<br></div>
<div id=copyright class=shadow> Copyright Julien Kuzniarek 2017 </div>
</div>
</body>
</html>
