<!DOCTYPE html>
<html>
<head>
<title>Resume</title>
<link rel=stylesheet href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
  <div id=container>
  <nav>
    <ul>
      {% for url in navbar %}
      <li><a href="{{ url }}"><span class="green">[</span> {{ navbar[url] }} <span
         class="green">]</span></a></li>
      {% endfor %}
    </ul>
  </nav>
    <div class=shadow><br><img src="{{ url_for("static", filename="banner.png") }}"><br><br></div>
    <div class=shadow>
<!------------------------------------------------------>
<!--|EVERYTHING ABOVE THIS LINE MUST BE ON EVERY PAGE|-->


  <h1 class="green">Resume</h1>
  <table style="text-align: left;">
    <tr>
      <td></td>
      <td>Download <a href="{{ url_for('static', filename='resume.pdf') }}">PDF</a></td>
      <td></td>
    </tr>

    <tr>
      <td class="green"><b>Objective</b></td>
      <td>I am seeking an opportunity to develop and implement innovative
        solutions while continuing to expand my programming knowledge and experience</td>
</tr>

<tr>
  <td class="green"><b>Technology<br>Summary</b></td>
  <td>Object Oriented programming with Python, Java, Swift, JavaScript, PHP, C++, R
    <br>
    Experienced with Apache NiFi, Regular Expressions, SQL, HTML5, CSS, Agile, JIRA, Confluence, GitHub, MS Office Suite
    <br>
    Kofax Kapow 9.4 Certification
</td>
</tr>

<tr>
  <td class="green"><b>Education</b></td>
  <td><b>University of South Florida</b></td>
  <td class="green"><b>2012 - 2016</b></td>
</tr>
<tr>
  <td> </td>
  <td>Bachelor of Science in Information Studies. 3.0 GPA</td>
</tr>
<tr>
  <td> </td>
  <td><b>Projects Completed:</b></td>
</tr>
<tr>
<td> </td>
<td>
  <ul style="list-style: none;">
  <li><a href="post/uselectoraltracker">R package</a>
    that visualizes the voting data for all the presidential elections since 1828.
  </li>
  <li>Experiment investigating the viability of artificially generating a Zipf distribution.
  </li>
  <li>Guide to creating and iterating a one-dimensional cellular automaton.
  </li>
  <li>Access database of patients and patient visits to doctor’s office with SQL queries.
  </li>
  <li><a href="post/virtual_machine_security">Presentation</a>
    on the security and privacy risks associated with using virtual machines.
  </li>
  <li><a href="post/stormchaser_project">Java program</a>
    that identifies the ten strongest storms in a NOAA hurricane data file.</li>
  <li><a href="post/tax_accountant_project">Java program</a>
    that calculates taxpayers’ tax refunds using their tax information.
  </li>
</ul>
</td>
</tr>

<tr>
  <td class="green"><b>Work<br>Experience</b></td>
  <td><b>Integration Engineer at NetSynergy Virtual Solutions</b></td>
  <td class="green"><b>2016 - Present</b></td>
</tr>
<tr>
  <td> </td>
  <td>Develope web-scraping robots using a mixture of Regular Expressions, the
    Kofax Kapow software, Apache NiFi, SQL, and JavaScript. Developed, tested, documented,
    and tracked projects as part of an Agile team using a combination of JIRA,
    Confluence, GitHub, and the MS Office Suite. Established company
    documentation standard. Designed and adapted ETL projects from conception up
    through development. Designed, setup, and administered company knowledge
    base in Confluence. Relational and nonrelational data modeling, and
    relational database design for SQL. </td>
</tr>
<tr>
  <td> </td>
  <td><b>Supervisor at Busch Gardens Tampa</b></td>
  <td class="green"><b>2013 - 2016</b></td>
</tr>
<tr>
  <td> </td>
  <td>Supervised admissions screeners and turnstiles employees including their
    breaks, attendance, training, audits, and moral. Troubleshooting and resolved
    guest ticket problems utilizing ticket database and associated database
    interface application. Maintained smooth daily operations of turnstiles while
    maximizing the flow of guests entering the park. Performed duties
    associated with opening and closing the park to guests such as daily
    testing of turnstile systems, ensuring area cleanliness, and updating
    various statistical data on guests. Attend to unexpected guest employee,
    and daily operational issues.</td>
</tr>
<tr>
  <td> </td>
  <td><b>Host at Busch Gardens Tampa</b></td>
  <td class="green"><b>2013</b></td>
</tr>
<tr>
  <td> </td>
  <td>Operated rides, assisted guests, bused tables, maintained park
    cleanliness, and trained new employees. Received recognition for
    exceptional customer service.</td>
</tr>
<tr>
  <td> </td>
  <td><b>Personal Assistant at Heart Specialists of Sarasota</b></td>
  <td class="green"><b>2011 - 2012</b></td>
</tr>
<tr>
  <td> </td>
  <td>Interviewed patients, entered patient data and ran miscellaneous errands.</td>
</tr>


<tr>
  <td class="green"><b>Affiliations</b></td>
  <td><b>ASIS&T</b></td>
  <td class="green"><b>2015 - Present</b></td>
</tr>
<tr>
  <td> </td>
  <td>Member of the Association for Information Science and Technology.</td>
</tr>
<tr>
  <td> </td>
  <td><b>Boy Scouts of America</b></td>
  <td class="green"><b>2005 - 2010</b></td>
</tr>
<tr>
  <td> </td>
  <td>Achieved Life Scout Rank.</td>
</tr>
</table>



<!--|DO NOT DELETE ANYTHING BELOW THIS LINE|------------>
<!------------------------------------------------------>
</div>
<div id=copyright class=shadow> Copyright Julien Kuzniarek 2017 </div>
</div>
</body>
</html>
